@model List<BookValidationApp.Models.Book>

@{
    ViewData["Title"] = "Book List";
}

<h2>Book List</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ISBN</th>
            <th>Name</th>
            <th>Author</th>
            <th>Published Date</th>
            <th>URL</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Isbn</td>
                <td>@book.BookName</td>
                <td>@book.AuthorName</td>
                <td>@book.PublishedDate.ToShortDateString()</td>
                <td><a href="@book.BookUrl" target="_blank">@book.BookUrl</a></td>
            </tr>
        }
    </tbody>
</table>
